<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
   id="WebApp_ID" version="5.0">
   
	<display-name>Middle_Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
	
	<!-- 매핑구조를 서블릿 클래스 하나당 다수의 매핑구조가 실행되는 일대 다 구조로 변경 -->
	<servlet>
	 <servlet-name>MFrontController</servlet-name> <!-- 서블릿 클래스명 -->
	 <servlet-class>net.daum.controller.MFrontController</servlet-class> 
	 <!-- 매핑주소인 *.do가 웹브라우저 주소창에서 실행되면
	 서블릿 클래스 풀패키지 경로인 net.daum.controller패키지의 MFrontController 서블릿 클래스가 실행된다. -->
	 
	 <!-- 파일 첨부 기능이 있는 자료실 관련 설정 -->
	 <multipart-config>
	   <max-file-size>10485760</max-file-size> <!-- 10,485,760 바이트 -> 10MB, 업로드 되는 '단일파일'의
	   최대크기를 설정 -->
	   <max-request-size>52428800</max-request-size> <!-- 50mb -> 전체 요청의 최대 크기 -->
	   <file-size-threshold>1048576</file-size-threshold> <!-- 1MB, 메모리와 디스크 저장 경계 -->
	 </multipart-config>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>MFrontController</servlet-name>
	  <url-pattern>*.do</url-pattern> <!-- 웹브라우저 주소창에서 실행되는 모든 매핑주소값인 *.do -->
	</servlet-mapping>
	
	<!-- method post방식으로 전달되는 한글을 안깨지게 한다.  -->
    <filter>
        <filter-name>RequestEncoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>RequestEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
